::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.ad-box-wrapper {
  display: none !important;
}

.masthead-right {
  visibility: hidden;
}

.video-guide {
  display: none !important;
}

#desktop-anchor {
  display: none !important;
}

.carousel-banner-container {
  display: none !important;
}
